*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}

:root{
    --primary--color: #3b82f6;
}

@font-face {
    font-family: myFont;
    src: url(fontstyle/BOD_R.TTF);
    }

h1{
    text-align: center;
    font-size: 48px;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    overflow: hidden;
    padding: 20px;
    align-items: center; 
    gap: 0;
}


.section-center-v2 {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    overflow: hidden;

    align-items: center; 
    gap: 0;
}

@media(min-width:1033px){

.about-photo {
    width: 100%;
    height: 70%;
    position: relative;
    
}

.about-info {
    margin-bottom: 20px;
    p, h3{
        margin-bottom: 20px;
    }
    font-size: 35px;
}
}

@media(max-width:1033px){
    .about-center{
        max-width: 768px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-photo{
        width: 100%;
        height: 75%;
    }
    .about-info {
        margin-bottom: 20px;
        p, h3{
            margin-bottom: 20px;
        }
        font-size: 35px;
    }
}


@media(min-width:1033px){

    .service-photo-v1 {
        width: 130%;
        height: 70%;
        position: relative;
        
    }
    .service-photo-v2 {
        width: 100%;
        height: 70%;
        position: relative;
        
    }
    
    .service-info {
        margin-bottom: 20px;
        p, h3{
            margin-bottom: 20px;
        }
        font-size: 35px;
        padding: 35px;
    }
    }
    @media(max-width:1033px){
        .service-center{
            max-width: 768px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
        }
        .service-photo-v1{
            width: 100%;
            height: 75%;
        }
        .service-photo-v2{
            width: 100%;
            height: 75%;
        }
        .service-info {
            margin-bottom: 20px;
            p, h3{
                margin-bottom: 20px;
            }
            font-size: 35px;
        }
    }

    @media(min-width:1033px){

        .work-photo {
            width: 100%;
            height: 70%;
            position: relative;
            
        }
        
        .work-info {
            margin-bottom: 20px;
            p, h3{
                margin-bottom: 20px;
            }
            font-size: 35px;
        }
        }
        @media(max-width:1033px){
            .work-center{
                max-width: 768px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
        
            }
            .work-photo{
                width: 100%;
                height: 75%;
            }
            .work-info {
                margin-bottom: 20px;
                p, h3{
                    margin-bottom: 20px;
                }
                font-size: 35px;
            }
        }

        
    @media(min-width:1033px){

        .contact-photo {
            width: 50px;
            height: 50px;
            position: relative;
            
        }
        
        .contact-info {
            margin-bottom: 20px;
            p{
                margin-bottom: 20px;
                padding-top: 30px;
            }
            font-size: 35px;
        }

        .container{
            display: flex;
            gap: 5px;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            width: 90vw;
            margin: auto;
        }
    form{
    width: 60vw;
    padding: 20px;
    }
        .form-group{
            margin-bottom: 15px;
        }
        label{
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type='text'],
        input[type='email'],
        textarea
        {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-family: inherit;
        }
        input:focus,
        textarea:focus{
            outline: 2px solid var(--primary--color);

        }
        textarea{
            height: 100px;
        }
        input[type='submit']{
            background: var(--primary--color);
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: inherit;
            font-family: inherit;
            width: 55vw;
        }
        
        input[type='submit']:hover{
            background: #007bff;
        }

        input::placeholder,
        textarea::placeholder{
        color:#a8a9b3;
        font-weight: bold;
        
        }
        
        input:placeholder-shown{
            height: 50px;
            background:#f3f4f6;
        }
        textarea:placeholder-shown{
            height: 150px;
            background:#f3f4f6;
        }



        }
        @media(max-width:1033px){
            .contact-center{
                max-width: 768px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
        
            }
            .contact-photo{
                width: 50px;
                height: 50px;
            }
            .contact-info {
                margin-bottom: 20px;
                p, h3{
                    margin-bottom: 20px;
                }
                font-size: 35px;
            }


            .container{

                background: #fff;
                padding: 20px;
                border-radius: 10px;
                width: 90vw;
                margin: auto;
            }
        form{
        width: 100%;
        padding: 20px;
        }
            .form-group{
                margin-bottom: 15px;
            }
            label{
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }
            input[type='text'],
            input[type='email'],
            textarea
            {
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-family: inherit;
            }
            input:focus,
            textarea:focus{
                outline: 2px solid var(--primary--color);
    
            }
            textarea{
                height: 100px;
            }
            input[type='submit']{
                background: var(--primary--color);
                color: #fff;
                border: none;
                border-radius: 5px;
                padding: 10px 20px;
                cursor: pointer;
                font-size: inherit;
                font-family: inherit;
                width: 100%;
                
            }
            
            input[type='submit']:hover{
                background: #007bff;
            }
    
            input::placeholder,
            textarea::placeholder{
            color:#a8a9b3;
            font-weight: bold;
            
            }
            
            input:placeholder-shown{
                height: 50px;
                background:#f3f4f6;
            }
            textarea:placeholder-shown{
                height: 150px;
                background:#f3f4f6;
            }
        }


