*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}

:root{
    --primary--color: #3b82f6;
    --clr-primary-1: #ffffc2;
    --clr-primary-2: #fffa89;
    --clr-primary-3: #ffee2e;
    --clr-primary-4: #fde012;
    --clr-primary-5: #ecc606;
    --clr-primary-6: #cc9b02;
    --clr-primary-7: #a36e05;
    --clr-primary-8: #86560d;
    --clr-primary-9: #724711;
    --clr-primary-10: #432505;
    /* define gray shade */
    /* for paragraph */
    --clr-gray-1: #f6f6f6;
    --clr-gray-2: #efefef;
    --clr-gray-3: #dbdbdb;
    --clr-gray-4: #c6c6c6;
    --clr-gray-5: #aeaeae;
    --clr-gray-6: #898989;
    /* for heading */
    --clr-gray-7: #707070;
    --clr-gray-8: #575757;
    --clr-gray-9: #464646;
    --clr-gray-10: #3e3e3e;
    --clr-white : #fff;
    --ff-primary : "Poppins", sans-serif;
    --transition : all 0.3s linear;
    --spacing : 0.25rem;
    --radius : 0.5rem;
    --light-shadow : 0 5px 15px rgba(0,0,0,0.1);
    --dark-shadow : 0 5px 15px rgba(0,0,0,0.2);
    --navbar-Height: 5rem;
}

@font-face {
    font-family: myFont;
    src: url(fontstyle/BOD_R.TTF);
    }


    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: var(--ff-primary);
        background-color: var(--clr-white);
        color: var(--clr-gray-10);
        line-height: 1.5;
        font-size: 0.875rem;
    }
ul {
    list-style-type: none;
}


.navbar {

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--dark-shadow);
    height: var(--navbar-Height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    flex-direction: row-reverse;
}

.nav-logo {
    width: 320px;
    height: 100px;

    padding-top:10px ;

    
}


.nav-list {
    display: flex;
    font-weight: bold;
    padding-top: 50px;
}




.nav-link {
    margin: 25px;
    text-transform: capitalize;
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-primary-8);

}


.nav-icons-list {
    display: flex;
    margin: 40px;
}

.nav-icon {
    margin: 5px;
    font-size: 1.3rem;
    color: var(--clr-primary-8);
}
.nav-icon:hover {
    color: var(--clr-primary-8);

}

img.logo-link {
    width: 69%;
    padding-top: 28px;    
}

.nav-mobile-toggle {
    cursor: pointer;
}

.line{
    font-size: 24px;
}

h1{
    text-align: center;
    font-size: 48px;
}

.index{
    background-color: white;
}
button{
    background-color: white;
}
.menu{
    width: 35px; background-color: white;
}
.h2-text{
    border: 3px solid white; padding: 20px; text-align: center; color: white;
}
#CoverImage{
    padding: 20px;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    overflow: hidden;
    padding: 20px;
    align-items: center; 
    gap: 0;
}


.section-center-v2 {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: auto;
    column-gap: 2rem;
    overflow: hidden;

    align-items: center; 
    gap: 0;
}

@media(min-width:1033px){

    .navbar{
        display: none;
    }


.about-photo {
    width: 100%;

    height: 70%;
    position: relative;
    
}

.about-info {
    margin-bottom: 20px;
    p, h3{
        margin-bottom: 20px;
    }

    font-size: 20px;
}
}

@media(max-width:1033px){
    .about-center{
        max-width: 768px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .about-photo{
        width: 100%;
        height: 75%;
    }
    .about-info {
        margin-bottom: 20px;
        p, h3{
            margin-bottom: 20px;
        }
        font-size: 35px;
    }
}


@media(min-width:1033px){

    .service-photo-v1 {
        width: 130%;
        height: 70%;
        position: relative;
        
    }
    .service-photo-v2 {
        width: 100%;
        height: 70%;
        position: relative;
        
    }
    
    .service-info {
        margin-bottom: 20px;
        p, h3{
            margin-bottom: 20px;
        }
        font-size: 20px;
        padding: 35px;
    }
    #service-1-info{
        padding-bottom: 1px;
        grid-template-columns: 4fr 2fr;
    }
    #service-2-info{
        grid-template-columns: 2fr 4fr;
    }
    }
    @media(max-width:1033px){
        .service-center{
            max-width: 768px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
        }
        .service-photo-v1{
            width: 100%;
            height: 75%;
        }
        .service-photo-v2{
            width: 100%;
            height: 75%;
        }
        .service-info {
            margin-bottom: 20px;
            p, h3{
                margin-bottom: 20px;
            }
            font-size: 35px;
        }
    }

    @media(min-width:1033px){

        .work-photo {
            width: 100%;
            height: 70%;
            position: relative;
            
        }
        
        .work-info {
            margin-bottom: 20px;
            p, h3{
                margin-bottom: 20px;
            }
            font-size: 20px;
        }
        #work-center-2{
            padding: 0;
            grid-template-columns: 4fr 2fr;
        }

        }
        @media(max-width:1033px){
            .work-center{
                max-width: 768px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
        
            }
            .work-photo{
                width: 100%;
                height: 75%;
            }
            .work-info {
                margin-bottom: 20px;
                p, h3{
                    margin-bottom: 20px;
                }
                font-size: 35px;
            }
        }

        
    @media(min-width:1033px){

        .contact-img{
            padding: 30px;
        }

        .contact-photo {
            width: 30px;
            height: 30px;
            position: relative;
            
        }


        .contact-photo-v2{
            width: 45%; padding: 20px;
        }

        
                .contact-info {
            margin-bottom: 20px;
            p{
                margin-bottom: 20px;
                padding-top: 30px;
            }
            font-size: 20px;
        }
        .map-v1{
        margin: auto;text-align: center; padding: 20px;
        }
        
        .map-v2{
            display: none;
        }
        .container{
            display: flex;
            gap: 5px;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            width: 90vw;
            margin: auto;
        }




        }
        @media(max-width:1033px){
            .contact-center{
                max-width: 768px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr 10fr;
        
            }
            .contact-photo{
                width: 50px;
                height: 50px;
            }
            .contact-info {
                margin-bottom: 20px;
                p, h3{
                    margin-bottom: 20px;
                    padding-top: 31px;
                }
                font-size: 20px;
            }
            .contact-photo-v2{
                width: 100%;
            }
            .map-v1{
                display: none;
            }
            .map-v2{
                text-align: center;
            }
            .container{

                background: #fff;
                padding: 20px;
                border-radius: 10px;
                width: 90vw;
                margin: auto;
            }
      
        }

        @media (min-width: 1033px) {
            .nav-mobile {
                display: none;
            }
        }

@media(max-width:1033px){

    .nav-list {
        display: none;
    }
    .nav-icons {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
    .fa-bars {
        font-size: 1.5rem;
        width: 100%;
   
    }
    .nav-mobile-toggle {
        margin: 40px;
        width: 40px;
        height: 40px;
        border: none;
      
    }
    .mobile-nav-list {
        position:fixed;
        top:var(--navbar-Height);
        right: -100%;
        width: 100%;
        height: calc(100vh - var(--navbar-Height));
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 30px;
        gap: 2rem;
        font-size: 1.2rem;

        text-align: center;
        transition: var(--transition);
        transform: translateX(100%);
    }
    .mobile-nav-list.active {

        position: fixed;
        top: var(--navbar-Height);
        transform: translateX(0);
        bottom: 0;
        right: 0;
        width: 100%;
        background: rgb(219, 219, 219);
        text-align: center;
        display: flex;
        flex-direction: flex-column;
        align-items: center;
        opacity: 0.6;
    } 
    .mobile-nav-link:hover{
        display: block;

        cursor: pointer;
    }
}
@media(min-width:1033px){
    .section-center.featured-center{
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        
    }
    .coverImg{
        width: 100%;

        text-align: left;
    }
    .coverMainImg{
       width: 100%;
    }
.info-card{
    width: 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: var(--transition);
    background: #510f1c;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 1170px;
    margin: 20px;
    margin-bottom: 20px;
    
}
.info-card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: scale(1.02);
    cursor: pointer;
    
}

.info-img-container{
    flex: 1 0 30%;
    position: relative;
    height: 13rem;
}
.info-img{
    width: 100%;
    height: auto;

}
.info-place{
    position: absolute;
    right: 0;
    bottom: 0;

    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}
.info-info{
    padding: 1.25rem 1.5rem;
}

}
@media(max-width:1033px){
    .section-center.featured-center{
        display: flex;
        flex-direction: column;
        padding-top: 150px;   
    }
.info-card{
    width: 98%;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    background:   #510f1c;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 1170px;
    margin-bottom: 20px;
}
.info-card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: scale(1.02);
    cursor: pointer;
}

.info-img-container{
    flex: 1 0 30%;
    position: relative;
    height: calc(100vh - var(--navbar-Height) - 12rem);
}
.info-img{
    width: 100%;
    height: auto;

}
.info-place{
    position: absolute;
    right: 0;
    bottom: 5px;

 
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}
.info-info{
    padding: 1.25rem 1.5rem;
}

}