* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url(fontstyle/BOD_R.TTF);
    }

h1{
    text-align: center;
    font-size: 48px;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    overflow: hidden;
    height: 89vh;
}
@media(min-width:1033px){



.about-photo {
    width: 100%;
    height: 65%;
    position: relative;
}

.about-info {
    margin-bottom: 20px;
    p, h3{
        margin-bottom: 20px;
    }
    font-size: 28.5px;
}
}
@media(max-width:1033px){
    .about-center{
        max-width: 768px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        height: 170vh;
    }
    .about-photo{
        width: 100%;
        height: 75%;
    }
    .about-info {
        margin-bottom: 20px;
        p, h3{
            margin-bottom: 20px;
        }
        font-size: 25px;
    }

}